body {
    margin: 0;
    background-size: cover;
    background: linear-gradient(0deg, rgb(249, 252, 250) 0%, rgba(34,193,195,1) 90%) no-repeat fixed;
}
#flex-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 50px auto;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#submitButton {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
#submitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}