body, html {

    height: 100%;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/b7/23/bc/b723bc52a4d351c90e7c7629dadd51c7.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
*{
    box-sizing: border-box;
}
.background{

    background-image: url(https://i.pinimg.com/originals/b7/23/bc/b723bc52a4d351c90e7c7629dadd51c7.jpg);   
    height: 100%; 
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: 2s;


}

#container {

    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    margin: 0 auto 0 auto;
    border-radius: 2px;
    width: 75vw;
    transition: 2s;
}

input[type=text] {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:.4em; 
    border:.1em solid #ccc; 
    -webkit-border-radius: .4em;
    border-radius: .4em;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .4em 1.4em;
    margin-top: 2.5em; 
    background:rgb(255, 255, 255); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: .4em;
    border-radius: .4em; 
    -webkit-transition-duration: .4s; /* Safari */
    transition-duration: .4s;
}

input[type=submit]:hover{
    background-color: rgb(86, 109, 139);
    color: white;
}

#flex-container {

    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 0 auto 0 auto;
    opacity: 0;
    transition: 2s;

}
#title {
    opacity: 0;
    transition: 2s;
}

#more_Info {

    opacity: 0;

}

.min{
    float: left;
    margin-left: 10%;
}

.analytics{

    display: none;
    justify-content: space-evenly;

}

@media only screen and (max-width: 400px) {
    #container {
        width:100%;
    }
    #header {
        font-size: xx-small;
    }
    #flex-container {
        width:100%;
        font-size: xx-small;

    }
    #more_Info {

        width:100%;
        font-size: xx-small;
    
    }
} 

@media only screen and (min-width: 401px) and (max-width: 960px) {
    #container {
        width:100%;
    }
    #flex-container {
        width:100%;
        font-size: x-small;
    }
    #more_Info {

        width:100%;
        font-size: x-small;
    
    }
    #header {
        font-size: x-small;
    }
}